---
import Hero from '../../components/widgets/Hero.astro';
import Layout from '../../layouts/PageLayout.astro';
import Tutors from '../../components/TutorSchedule.jsx';

const metadata = {
  title: 'Tutoring',
};

/* Sign Up Button  - Add to the second Hero component under the actions prop*/
const heroActions = [
  {
    text: "Sign Up",
    href: "",
    target: "_blank",
    rel: "noopener,noreferrer",
    variant: "primary",
  },
];
---

<Layout metadata={metadata}>

  <Hero tagline="KU ACM Tutoring">
    <Fragment slot="title">
      We Are Here to Help! <br>
    </Fragment>
    <Fragment slot="subtitle">All tutoring is held in <b>LEEP2 1328</b></Fragment>
    <Fragment slot="content">
      <b>Click on a tutor's slot to get a full list of all the classes they teach!</b>
    </Fragment>
  </Hero>

  <Tutors client:load/>
  
  <!-- <Hero>
    <Fragment slot="title">
      The schedule is unknown until we hear back from tutors.
    </Fragment>
  </Hero> -->
 

  <Hero tagline="JOIN THE TEAM">
    <Fragment slot="title">
      Want to Become a Tutor?
    </Fragment>
    <Fragment slot="subtitle">
      Join our <u><a href="https://discord.gg/SgFkFv4bUR" target="_blank" rel="noopener,noreferrer">Discord</a></u> to learn more!
    </Fragment>
  </Hero>
  
</Layout>
