---
import Hero from '../components/widgets/Hero.astro';
import Layout from '../layouts/PageLayout.astro';
import Timeline from '../components/ui/Timeline.astro';
import { UPCOMING_MEETINGS } from '../data/meetings';
import { BUGSMASHERS_SCHEDULE, PROJECT_NIGHTS } from '../data/bugsmashers';
import { HACKNIGHTS } from '../data/bugsmashers';

const metadata = {
  title: 'Archive',
};
---

<Layout metadata={metadata}>
    <Hero tagline='Archive'>
        <Fragment slot='title'>Google Slides of ACM Past!</Fragment>
    </Hero>

    <div class="w-2/3 m-auto mb-8">
      <Timeline items={PROJECT_NIGHTS} defaultIcon='tabler:file-text'/>
    </div>
</Layout>