---
import Hero from '../components/widgets/Hero.astro';
import Layout from '../layouts/PageLayout.astro';

const metadata = {
  title: 'Connect',
};
---

<Layout metadata={metadata}>
    <Hero tagline='Links'>
        <Fragment slot='title'>Get In Touch With ACM At KU!</Fragment>
    </Hero>

    <div class="w-4/5 md:w-2/3 m-auto mb-8">
      
    </div>
</Layout>