---
import '~/assets/styles/tailwind.css';

import { I18N } from "~/utils/config";

import CommonMeta from '~/components/common/CommonMeta.astro';
import Favicons from '~/components/Favicons.astro';
import CustomStyles from "~/components/CustomStyles.astro"
import ApplyColorMode from "~/components/common/ApplyColorMode.astro"
import Metadata from '~/components/common/Metadata.astro';
import SiteVerification  from "~/components/common/SiteVerification.astro"
import Analytics  from "~/components/common/Analytics.astro"
import BasicScripts from '~/components/common/BasicScripts.astro';

import type { MetaData as MetaDataType } from '~/types';

export interface Props {
  metadata?: MetaDataType;
}

const { metadata = {} } = Astro.props;
const { language, textDirection } = I18N;
---

<!DOCTYPE html>
<html lang={language} dir={textDirection} class="2xl:text-[20px]">

  <head>
    <CommonMeta />
    <Favicons />
    <CustomStyles />
    <ApplyColorMode />
    <Metadata {...metadata} />
    <SiteVerification />
    <Analytics />
  </head>
  

  <body class="antialiased text-default bg-page tracking-tight">
    <div class="blob-green absolute w-48 h-48 blur-2xl z-0"></div>
  <div class="blob-red absolute w-48 h-48 blur-2xl z-0"></div>
  <div class="blob-blue absolute w-48 h-48 blur-2xl "></div>
  <style>
    .blob-green {
      background: radial-gradient(circle, rgba(144, 238, 144, 0.7) 0%, transparent 50%);
      top: 15%;
      left: 15%;
    }
    .blob-red {
      background: radial-gradient(circle, rgba(240, 128, 128, 0.7) 0%, transparent 50%);
      top: 25%;
      left: 15%;
    }
    .blob-blue {
      background: radial-gradient(circle, rgba(13, 161, 210, 0.7)0%, transparent 50%);
      top: 20%;
      left: 20%;
    }
  </style>
    <slot />

    <BasicScripts />

    <style is:global>
      img {
        content-visibility: auto;
      }
    </style>
  </body>
</html>
